<div class="container">
<h3>{{title}}</h3>

    <div class="form-group row">
        <div class="col-md-3">
            <label>Title</label>
            <input type="text" name="name" class="form-control" #titleRef >
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label>Name</label>
            <input type="text" name="name" [value]="placeholder" class="form-control" #nameRef>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label>Price</label>
            <input type="text" name="name" class="form-control" #priceRef>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label>Category</label>
            <select class = "form-control" #catRef>
                <option *ngFor="let cat of category">{{cat.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
         <button type="button" class="btn btn-primary" (click)="onOkClick(titleRef.value , nameRef.value , priceRef.value , catRef.value)">ADD PRODUCT</button>
    </div>     
</div>